* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.carousel {
  position: relative;
  width: 1287px;
  margin-top: 30px;
  margin: 0 auto;
}

.text {
  width: 77%;
  margin: 0 auto;
  margin-top: 40px;
}

.container {
  max-width: 1527px;
}

.container {
  margin-bottom: 20px;
}

p {
  color: rgb(173, 172, 172);
}

.line {
  width: 77%;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom: 1px solid rgb(227, 227, 227);
  margin-bottom: 30px;
}

.UL {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
ul ul {
  margin-top: 15px;
}
.ulli{
  display: flex;
  width: 100%;
  gap: 40px;
}
li{
  cursor: pointer;
}
li:hover{
  text-decoration: underline;
}
.first{
  margin-top: 15px;
}
.span {
  position: absolute;
  color: grey;
  font-size: 18px;
  transform: translate(195px, -10px);
}
.span a{
  font-size: 18px;
}
.div{
  width: 77%;
  margin: 0 auto;
  transform: translateY(-20px);
}
.div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div span{
  color: grey;
}